/* public/css/auth/auth.css */

#authWindow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: var(--page-background);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#loginFormFrame {
  justify-items: center;
  margin: 1rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 500px;
  border: 2px solid var(--main-border);
  background-color: var(--main-background);
  border-radius: 0.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

#loginForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  align-items: center;
  margin-bottom: 2rem;
}

.userLogin {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

#loginLogo {
  height: 90px;
  width: 90px;
  align-self: flex-end;
}
