/* noteForms.css */

#noteFormWindow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: var(--lightwash);
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#noteFormFrame {
    align-self: center;
    margin: 1rem;
    padding: 1.5rem;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 500px;
    border: 2px solid var(--main-border);
    background-color: var(--main-background);
    border-radius: .25rem;
    position: relative;
}

#noteTypeForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}

#noteContentForm {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    height: 100%;
}

#noteUserInput {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

#noteText {
    width: 100%;
    flex: 1;
    min-height: 100px;
}

#noteTags {
    width: 100%;
}

#noteFormBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5rem;
}

#noteTagsArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: .5rem;
}

.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0;
}

/* -------------------------------------- */
/* Collapsed Styles */
/* -------------------------------------- */

#noteFormWindow>*,
#noteTypeForm>*,
#noteContentForm>* {
    opacity: 1;
    transform: translateY(0);
    transition: max-height 0.3s ease, opacity 0.2s ease, padding 0.2s ease;
}

#noteFormWindow.collapsed,
#noteTypeForm.collapsed,
#noteContentForm.collapsed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    padding: 0;
}

#noteFormWindow.collapsed>*,
#noteTypeForm.collasped>*,
#noteContentForm.collapsed>* {
    opacity: 0;
    transform: translateY(-4px);
}