/* boxes.css */

#boxesShowAll {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.box {
    padding: 1rem;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.box h2 {
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    max-width: 100%;
    overflow-wrap: break-word;
}

.editBoxForm {
    background-color: var(--main-background-mid);
    padding: 1rem;
    margin: .5rem -1rem;
    display: none;
    /* hide form initially */
    flex-direction: column;
    gap: .5rem;
}

.editBtns {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

/* Colour themes */
.light {
    background-color: var(--main-background-light);
    border-radius: .5rem;
    border-top: 4px double var(--main-border);
    border-bottom: 4px double var(--main-border);
    border-left: 1px solid var(--main-border);
    border-right: 1px solid var(--main-border);
    color: var(--font-dark);
}

.pink {
    background-color: var(--pink-background);
    border-radius: .5rem;
    border-top: 4px double var(--pink-border);
    border-bottom: 4px double var(--pink-border);
    border-left: 1px solid var(--pink-border);
    border-right: 1px solid var(--pink-border);
    color: var(--font-dark);
}

.blue {
    background-color: var(--blue-background);
    border-radius: .5rem;
    border-top: 4px double var(--blue-border);
    border-bottom: 4px double var(--blue-border);
    border-left: 1px solid var(--blue-border);
    border-right: 1px solid var(--blue-border);
    color: var(--font-dark);
}

.dark {
    background-color: var(--dark-background);
    border-radius: .5rem;
    border-top: 4px double var(--dark-border);
    border-bottom: 4px double var(--dark-border);
    border-left: 1px solid var(--dark-border);
    border-right: 1px solid var(--dark-border);
    color: var(--font-light);
}