/* buttons.css */

/* -------------------------------------- */
/* Button Styles */
/* -------------------------------------- */
.feather {
    width: clamp(.75rem, 5vw, 1.5rem);
    height: clamp(.75rem, 5vw, 1.5rem);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;

}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    border-radius: 10%;
    background: none;
    overflow: hidden;
    background: var(--page-background);
    width: auto;
    height: auto;
    flex: 0 0 auto;
}

button:hover,
button:focus {
    background: var(--button-focus);
    transform: scale(1.1);
}

button:hover .feather,
button:focus .feather {
    /* stroke-width: 2.5; */
    background: var(--button-focus);
    color: white;
}

button.hidden {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    pointer-events: none;
}

/* -------------------------------------- */
/* New Box Form Buttons */
/* -------------------------------------- */
#expandNewBoxBtn,
#collapseNewBoxBtn {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
}

/* -------------------------------------- */
/* User Box Buttons */
/* -------------------------------------- */


.editBoxBtn {
    grid-area: 1 / 1 / 2 / 2;
}

.moveBoxBtn {
    grid-area: 1 / 2 / 2 / 3;
}

.archiveBoxBtn {
    grid-area: 2 / 1 / 3 / 2;
}

.deleteBoxBtn {
    grid-area: 2 / 2 / 3 / 3;
}

.newNoteBtn {
    margin-top: .5rem;
}