/* public/css/styles.css */

/* base styles */
@import url("./base/reset.css");
@import url("./base/colourVars.css");
@import url("./base/typography.css");
@import url("./base/colourThemes.css");

/* page styles */
@import url("./page.css");
@import url("./buttons.css");

/* box styles */
@import url("./boxes/boxes.css");
@import url("./boxes/boxForms.css");
@import url("./boxes/boxMenu.css");

/* note styles */
@import url("./notes/notes.css");
@import url("./notes/noteForms.css");
@import url("./notes/noteMenu.css");
