<!-- box.ejs -->

<div class="box Light" data-box-id="archive">

    <h2>Archived Thoughts</h2>

    <div class="boxNotes">

        <% notes.filter(note => note.boxId.toString() === box._id.toString()).forEach(note => { %>
        <%- include('../notes/note', { boxId: box._id, note }) %>
        <% }) %>

    </div>

    <button type="button" class="newNoteBtn" data-box-id="<%= box._id %>" data-colour="<%= box.colour %>"
        aria-label="Add Thought to Box"><i data-feather="plus"></i><i data-feather="message-square"></i></button>
</div>