<!-- views/partials/boxes/emptyBox.ejs -->
<container class="eachNote">

    <div class="note <%= box.colour %> emptyBoxNote">


        <div class="noteBody">

            <div class="noteContent">

                <p class="emptyBoxText">What's on your mind?</p>

                <p class="emptyBoxText">Add a Thought to this box to get started.</p>

            </div>

        </div>

    </div>
</container>