<!-- noteTypeForm.ejs -->

<form id="noteTypeForm" class="collapsed">
    <h3 class="noteFormTitle">Thought Type</h3>

    <button type="button" class="noteTypeBtn text"><i data-feather="type"></i>
        <p>Text</p>
    </button>
    <button type="button" class="noteTypeBtn list"><i data-feather="list"></i>
        <p>List</p>
    </button>
    <button type="button" class="noteTypeBtn checkboxes"><i data-feather="check-circle"></i>
        <p>Checkboxes</p>
    </button>
    <button type="button" class="noteTypeBtn image"><i data-feather="image"></i>
        <p>Image</p>
    </button>
    <button type="button" class="noteTypeBtn links"><i data-feather="link-2"></i>
        <p>Links</p>
    </button>
</form>